<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
        <title>{% block title %}PWr QoS{% endblock %}</title>
    </head>

    <body>        
        <div id="header-bar">
            <div id="brand">
                <a href="{% url services:index %}">
                    PWr<span class="light-header">QoS</span>
                </a>
            </div>
            <div id="top-nav">{% block topnav %}Panel administracyjny{% endblock %}</div>
        </div>

        <div id="content-box">
            {% block content %}
            This is the content area.
            {% endblock %}
        </div>
    </body>
</html>
