<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.0.custom.css" /> 
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.multiselect.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.10.0.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.multiselect.min.js"></script>
        <title>{% block title %}PWr QoS{% endblock %}</title>
    </head>

    <body>        
        <div id="header-bar">
            <div id="brand">
                <a href="{% url home %}">
                    PWr<span class="light-header">QoS</span>
                </a>
            </div>
            <div id="top-nav">
            {% block topnav %}
                <a href="{% url services:measurement_wizard %}">Testuj usługi</a>
                <a href="/admin">Panel administracyjny</a>                
            {% endblock %}
            </div>
        </div>

        <div id="content-box">
            {% block content %}
            Tu powinna być jakaś treść.
            {% endblock %}
        </div>
        
    <script type="text/javascript">

    $(function() {
        $('select[multiple=multiple]').multiselect({
            checkAllText: 'Zaznacz wszystkie',
            uncheckAllText: 'Odznacz wszystkie',
            noneSelectedText: 'Kliknij, aby wybrać...',
            selectedText: 'Liczba wybranych elementów: #.'        
        });
    });

    </script>        
    
    </body>
</html>
