<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="test.css" />
    </head>

    <body>        
        <div id="header-bar">
            <div id="brand">PWr<span class="light-header">QoS</span></div>
            <div id="top-nav">Panel administracyjny</div>
        </div>

        <div id="content-box">
            <h1>Usługi</h1>

            <ul id="service-list">
                <li>
                    <span class="service-name">Usługa pierwsza</span>
                    <span class="service-desc">Opis usługi numer jeden.</span>
                </li>    
                <li>
                    <span class="service-name">Usługa druga</span>
                    <span class="service-desc">Opis usługi numer dwa.</span>
                </li>
                <li>
                    <span class="service-name">Usługa trzecia</span>
                    <span class="service-desc">Opis usługi numer trzy.</span>
                </li>
                <li>
                    <span class="service-name">Usługa czwarta</span>
                    <span class="service-desc">Opis usługi numer cztery.</span>
                </li>
                <li>
                    <span class="service-name">Usługa piąta</span>
                    <span class="service-desc">Opis usługi numer pięć.</span>
                </li>
                <li>
                    <span class="service-name">Usługa szósta</span>
                    <span class="service-desc">Opis usługi numer sześć.</span>
                </li>
            </ul>
        </div>
    </body>
</html>
